body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
    position: relative;
    /* opacity: 0.70; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed- parallax
    scrol- normal */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 100%;
}

.pimg2 {
    background-image: url(https://images.pexels.com/photos/3755706/pexels-photo-3755706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 800px;
}

.pimg3 {
    background-image: url(https://images.pexels.com/photos/4342498/pexels-photo-4342498.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    height: 100%;
    width: 100%;
}

.pimg5 {
    background-image: url(https://images.pexels.com/photos/3182826/pexels-photo-3182826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    min-height: 100%;
}

.sec {
    text-align: center;
    padding: 50px 80px;
}

.section_light {
    background-color: #f4f4f4;
    color: #666;
}

.section_dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.border {
    display: inline;
}